@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #ffffff; /* fallback for old browsers */
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(165, 236, 127) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    width:100%;
    height:100vh;
    overflow:auto;  
  }

  .fix_comment-page {
    width: auto;
    padding: 8% 0 0;
    margin: auto;
  }
.col-sm-12 {
    height: 55px;
}
/*-----for border----*/
.container{
    font-family:Roboto,sans-serif;
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    margin-top: 67px;
    box-shadow: 2px 5px 5px 0px #eee;
    max-width: 500px;
    padding-top: 10px;
    height: 350px;
    margin-top: 166px;
    background-color: white;
    border: 3px solid black;
}
/*--- for label of introduction---*/

.introduction{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 5px;
}


/*---for heading-----*/
.heading{
    text-decoration:bold;
    text-align : center;
    font-size:30px;
    color:#F96;
    padding-top:10px;
}


    /*---------- for Input type--------*/
.col-xs-4.gender{
    color: black;
    font-size: 13px;
    margin-top: 9px;
    padding-bottom: 16px;
}

.sbutton{
    color: rgb(111, 233, 153);
    font-size: 20px;
    border: 1px solid black;
    background-color: #080808;
    width: 32%;
    margin-left: 41%;
    margin-top: 16px;
    box-shadow: 0px 2px 2px 0px white;
        
  }

.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
    background:white;
    color:rgb(89, 220, 170);
    transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
}	 