@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.root-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

body {
  background: #ffffff; /* fallback for old browsers */
  background: rgb(255, 255, 255);
  background: white;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font_title {
  color: black;
  font-size: 1.5rem;
  font-family: Arial, serif;
  font-weight: bold;
  text-align: center;
}

.font_logout{
  color: black;
  font-size: 1.2rem;
  font-family: Arial, serif;
  font-weight: bold;
  text-align: right;
  position: relative;
  top: -50px;
  right: 500px;
}

.search-box {
  padding: 10px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  background-color: #fff;
  border: 1px solid #51e3d4;
  border-radius: 30px;
  transition: 0.4s;
  width: 30px;
}
.search-box:hover {
  box-shadow: 0px 0px 0.5px 1px #51e3d4;
  width: 282px;
}
.search-btn {
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #51e3d4;
}
.search-box:hover > .search-btn {
  background-color: #fff;
}
.search-txt {
  display: flex;
  padding: 0;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: 0.4s;
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
footer {
  height: 60px;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}

ul,li {
  margin: 0;
  padding: 0;
  position: relative;
  top: 45px;
}
ul, li {
  list-style:none;
}
.menu {
  display: flex;
}
.menu-item {
  background-color: green;
  flex-grow: 1;
  transition: 0.5s;
}
.menu-item:hover {
  background-color: black;
  flex-grow: 1.2;
}
.menu-link {
  /* block이면 마우스 클릭영역이 더 커짐, a태그는 inline으로서 클릭영역이 콘텐츠에 한정됨*/
  display: block; 
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
}
.menu-link:hover {
  color: white;
}

