@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.root-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

body {
  background: #ffffff; /* fallback for old browsers */
  background: rgb(255, 255, 255);
  background: white;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font_title {
  color: black;
  font-size: 1.5rem;
  font-family: Arial, serif;
  font-weight: bold;
  text-align: center;
}

.font_logout{
  color: black;
  font-size: 1.2rem;
  font-family: Arial, serif;
  font-weight: bold;
  text-align: right;
  position: relative;
  top: -105px;
  right: 500px;
}

.search-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #C5DEDA;
  height: 40px;
  padding: 10px;
  border-radius: 40px;
}

.search-btn {
  color: black;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #9CB4D4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-txt {
  float: left;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: black;
  font-size: 15px;
  line-height: 40px;
}

footer {
  height: 60px;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}

ul,li {
  margin: 0;
  padding: 0;
  position: relative;
  top: 45px;
}
ul, li {
  list-style:none;
}
.menu {
  display: flex;
}
.menu-item {
  background-color: green;
  flex-grow: 1;
  transition: 0.5s;
}
.menu-item:hover {
  background-color: black;
  flex-grow: 1.2;
}
.menu-link {
  /* block이면 마우스 클릭영역이 더 커짐, a태그는 inline으로서 클릭영역이 콘텐츠에 한정됨*/
  display: block; 
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
}
.menu-link:hover {
  color: white;
}

img{
  width: 50px;
  height: 50px;
  position: relative;
  top: -60px;
  left: 830px;
}