<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home/community.css">
    <title>COMMUNITY</title>
</head>
<body>
  <div class="font_title">
      <p>Self Chef</p>
  </div>
  <div class="img">
      <img src="css/home/logo.PNG ">
  </div>
  <div class="font_logout">
      <a href="login">sign in</a>
      <a href="select">sign up</a>
      <a href="login">log out</a>
  </div>
  <div class="font_community">
    <p>게시판</p>
  </div>
  <ul>
    <li><a>번호</a></li>
    <li><a>제목</a></li>
    <li><a>글쓴이</a></li>
    <li><a>날짜</a></li>
    <li><a>조회수</a></li>
</ul>
<div class="image_center">
    <img src="css/home/community.PNG">
</div>
<div class="image_center">
    <img src="css/home/paging.PNG">
</div>
  <div class="right">
    <div class="main mx-auto">
      <div class="green_window">
        <form action="#" method="GET">
          <input id="query" class="input_text" name="query" type="search" placeholder="제목을 입력하세요">
          <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
        </form>
      </div>
    </div>
  </div>
  <input type="button" class="navyBtn" value="글 쓰기" onClick="location.href='#'">
</body>
<html>