<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home/community.css">
    <title>COMMUNITY</title>
</head>
<body>
<div>
  <div class="font_title">
      <p>Self Chef</p>
  </div>
  <div class="img">
      <img src="css/home/image/logo.PNG ">
  </div>
  <div class="font_logout">
      <a href="login">log out</a>
  </div>
  <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
        <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
            </a>
    </div>
  <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>
  </div>
<section class="notice">
        <div class="page-title">
        <div class="container">
            <h3>게시판</h3>
        </div>
        </div>
        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-writer">작성자</th>
                        <th scope="col" class="th-date">작성일</th>
                        <th scope="col" class="th-view">조회수</th>
                        <th scope="col" class="th-like">추천수</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <th>
                        <a href="/soycrab">
                            <image src="css/home/image/간장게장.jpg"></image>간장게장 맛있게 하는 법</a>
                        </th>
                        <td>정대윤</td>
                        <td>2022.11.17</td>
                        <td>30</td>
                        <td>9</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <th><a href="#!">
                            <image src="css/home/image/김치찌개.jpg"></image>돼지고기 김치찌개를 잘 끓이는 방법</a></th>
                        <td>정대윤</td>
                        <td>2022.11.18</td>
                        <td>40</td>
                        <td>24</td>                    
                    </tr>

                    <tr>
                        <td>3</td>
                        <th><a href="#!">
                            <image src="css/home/image/냉동용가리.jpg"></image>냉동 용가리 맛있게 만들기</a></th>
                        <td>정대윤</td>
                        <td>2022.11.18</td>
                        <td>12</td>
                        <td>2</td>                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <th><a href="#!">
                            <image src="css/home/image/부침개.jpg"></image>비오는 날 생각나는 부침개 만들기</a></th>
                        <td>양재혁</td>
                        <td>2022.11.19</td>
                        <td>11</td>
                        <td>1</td>                    
                    </tr>
                    <tr>
                        <td>5</td>
                        <th><a href="#!">
                            <image src="css/home/image/컵밥.jpg"></image>삼겹살을 얹은 컵밥 만들기</a></th>
                        <td>김인석</td>
                        <td>2022.11.24</td>
                        <td>25</td>
                        <td>7</td>                    
                    </tr>
                    <tr>
                        <td>6</td>
                        <th><a href="#!">
                            <image src="css/home/image/식빵피자.jpg"></image>식빵을 이용한 간단한 피자 만들기</a></th>
                        <td>정만성</td>
                        <td>2022.11.25</td>
                        <td>37</td>
                        <td>15</td>                    
                    </tr>
                    <tr>
                        <td>7</td>
                        <th><a href="#!">
                            <image src="css/home/image/짜빠구리.jpg"></image>짜파구리를 맛나게 끓이는 방법</a></th>
                        <td>정대윤</td>
                        <td>2022.11.27</td>
                        <td>12</td>
                        <td>3</td>                    
                    </tr>
                    <tr>
                        <td>8</td>
                        <th><a href="#!">
                            <image src="css/home/image/굴무침.jpg"></image>겨울철 별미 굴무침</a></th>
                        <td>안준호</td>
                        <td>2022.11.28</td>
                        <td>26</td>
                        <td>8</td>                    
                    </tr>
                    <tr>
                        <td>9</td>
                        <th><a href="#!">
                            <image src="css/home/image/소불고기.jpg"></image>소불고기 황금 양념 레시피</a></th>
                        <td>유원태</td>
                        <td>2022.11.30</td>
                        <td>50</td>
                        <td>13</td>                    
                    </tr>
                    <tr>
                        <td>10</td>
                        <th><a href="#!">
                            <image src="css/home/image/떡볶이.jpg"></image>초간단 떡볶이 만들기 + 꿀맛은 덤</a></th>
                        <td>양재혁</td>
                        <td>2022.11.30</td>
                        <td>10</td>
                        <td>3</td>
                    </tr>                                                            
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="page">
      <ul class="pagination modal">
        <li><a href="#" class="first">처음</a></li>
        <li><a href="#" class="arrow_left"><<</a></li>
        <li><a href="#" class="active num">1</a></li>
        <li><a href="#" class="num">2</a></li>
        <li><a href="#" class="num">3</a></li>
        <li><a href="#" class="num">4</a></li>
        <li><a href="#" class="num">5</a></li>
        <li><a href="#" class="num">6</a></li>
        <li><a href="#" class="num">7</a></li>
        <li><a href="#" class="num">8</a></li>
        <li><a href="#" class="num">9</a></li>
        <li><a href="#" class="arrow_right">>></a></li>
        <li><a href="#" class="last">마지막</a></li>
      </ul>
    </div>
    <div class="right">
      <div class="main mx-auto">
        <div class="green_window">
          <form action="#" method="GET">
            <input id="query" class="input_text" name="query" type="search" placeholder="제목을 입력하세요">
            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
          </form>
        </div>
      </div>
    </div>
    <input type="button" class="navyBtn" value="글 쓰기" onClick="location.href='write'">
  </body>
<html>