<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/home/select.css">
  <title>FIX YOUR INTRODUCTION</title>
    
</head>
<body>
  <div class="fix_comment page">
    <div class="container">
          <header class="heading">Fix your introduction</header><hr>
        <div class="row ">
              <div class="col-sm-12">
                  <div class="row">
                <div class="col-xs-4">
                          <label class="introduction">New introduction</label> </div>
                  <div class="col-xs-8">
                      <input type="text" name="introduction" id="introduction" placeholder="Enter your new introduction" style="width:300px;">
                  </div>
                </div>
          
              <div class="col-sm-12">
                  <br>
                  <button style="height: 30px; color:green;"><div class="btn btn-warning"><a href="mypage">Submit</a></div></button>
              </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>