<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home/root.css" >
    <link rel="stylesheet" href="/css/home/rootTap.css">
    <title>HOME</title>
</head>
<body>
    <div class="font_title">
        <p>Self Chef</p>

    </div>
    <div class="img">
        <image src="css/home/image/logo.PNG ">
    </div>
    <div class="font_logout">
        <a href="login">sign in</a>
        <a href="login">log out</a>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
            <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
            </a>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>
    <div class="textb">레시피 분류</div>
    <div class="tab-area">
        <input type="radio" name="tabs" id="tab1" checked>
        <label for="tab1">상황별</label>
        <input type="radio" name="tabs" id="tab2">
        <label for="tab2">종류별</label>
    
        <div id="content1" class="tab-content situation">
            <a href="b1" name="초스피드"><img class="meal-img2" src="css/home/image/상황별/초스피드.PNG " /></a>
            <a href="b2" name="술안주"><img class="meal-img2" src="css/home/image/상황별/술안주.PNG " /></a>
            <a href="b3" name="다이어트"><img class="meal-img2" src="css/home/image/상황별/다이어트.PNG " /></a>
            <a href="b4" name="간식"><img class="meal-img2" src="css/home/image/상황별/간식.PNG " /></a>
            <a href="b5" name="야식"><img class="meal-img2" src="css/home/image/상황별/야식.PNG " /></a>
            <a href="b6" name="손님접대"><img class="meal-img2" src="css/home/image/상황별/손님접대.PNG " /></a>
            <a href="b8" name="도시락"><img class="meal-img2" src="css/home/image/상황별/도시락.PNG " /></a>
            <a href="b9" name="영양식"><img class="meal-img2" src="css/home/image/상황별/영양식.PNG " /></a>
            <a href="b11" name="해장"><img class="meal-img2" src="css/home/image/상황별/해장.PNG " /></a>
        </div>
        <div id="content2" class="tab-content type">
            <a href="a2" name="메인반찬"><img class="meal-img" src="css/home/image/종류별/메인반찬.PNG " /></a>
            <a href="a3" name="찌개"><img class="meal-img" src="css/home/image/종류별/찌개.PNG " /></a>
            <a href="a4" name="면_만두"><img class="meal-img" src="css/home/image/종류별/면_만두.PNG " /></a>
            <a href="a5" name="디저트"><img class="meal-img" src="css/home/image/종류별/디저트.PNG " /></a>
            <a href="a6" name="양식"><img class="meal-img" src="css/home/image/종류별/양식.PNG " /></a>
            <a href="a7" name="밑반찬"><img class="meal-img" src="css/home/image/종류별/밑반찬.PNG " /></a>
            <a href="a8" name="국_탕"><img class="meal-img" src="css/home/image/종류별/국_탕.PNG " /></a>
            <a href="a9" name="밥_죽_떡"><img class="meal-img" src="css/home/image/종류별/밥_죽_떡.PNG " /></a>
            <a href="a10" name="빵"><img class="meal-img" src="css/home/image/종류별/빵.PNG " /></a>
            <a href="a11" name="샐러드"><img class="meal-img" src="css/home/image/종류별/샐러드.PNG " /></a>
        </div>
        </div>
    <table style="position:absolute; top: 500px; left:261px;" , border="1" width="1000" height="100" align="center">
    <tr align ="center">
	    <p><td colspan = "5" span style="color:black">실시간 게시글 TOP 5</td></p>
        </tr>
	        <th class="jb-th-1">순위</th>
	        <th class="jb-th-2">제목</th>
	        <th class="jb-th-3">글쓴이</th>
  </table>
  <div class="image_center">
        <img src="css/home/image/recent_list.png" style="position:absolute; width: 1122px; top:620px; right:200px;">
    </div>
    <table style="position: absolute; left: 261px; top: 1053px;" border="1" width="400" height="100">
    <tr align ="center">
	    <p><td colspan = "2" span style="color:black">실시간 검색어 랭킹 TOP5</td></p>
        </tr>
	        <th class="jb-th-1">순위</th>
	        <th class="jb-th-2">검색어</th>
  </table>
    <div class="image_left">
        <img src = "css/home/image/ranking_left.PNG">
    </div>
    <table style="position: absolute; right: 261px; top: 1053px;" border="1" width="400" height="100">
    <tr align ="center">
	    <p><td colspan = "2" span style="color:black">실시간 레시피 랭킹 TOP5</td></p>
        </tr>
	        <th class="jb-th-1">순위</th>
	        <th class="jb-th-2">레시피</th>
  </table>
  </colgroup>
    <div class="image_right">
        <img src="css/home/image/ranking_right.PNG">
    </div>
</body>

<footer></footer>
</html>