<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home/root.css" >
    <title>HOME</title>
</head>
<body>
    <div class="font_title">
        <p>Self Chef</p>

    </div>
    <div class="img">
        <image src="css/home/logo.PNG ">
    </div>
    <div class="font_logout">
        <a href="login">sign in</a>
        <a href="login">log out</a>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
            <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
            </a>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>
    <dd class="container">
        <div class="home1">
            <div class="s_list_ul_arrow st2">
                <button type="button" class="slick-arrow" style="display:inline-block;cursor: pointer">
                    <img src="https://recipe1.ezmember.co.kr/img/store/icon_arrow3_pre.png?v.1">
                </button>
            </div>
            <ul class="exhibition_box" style="width:1122px;overflow:hidden;display:inline-block;text-align:left;">
                <img src="css/home/capture.png" style="width: 1122px;margin-top:-35px">
            </ul>
            <div class="s_list_ul_arrow st2">
                <button type="button" class="slick-arrow" style="display:inline-block;cursor: pointer">
                    <img src="https://recipe1.ezmember.co.kr/img/store/icon_arrow3_next.png?v.1">
                </button>
            </div>
        </div>
    </dd>
    <table border="1" width ="1000" height="100" align = "center" >
    <tr align ="center">
	    <p><td colspan = "5" span style="color:black">실시간 게시글 TOP 5</td></p>
        </tr>
	        <th class="jb-th-1">순위</th>
	        <th class="jb-th-2">제목</th>
	        <th class="jb-th-3">글쓴이</th>
  </table>
  <div class="image_center">
        <img src = "css/home/recent_list.png" style="width: 1122px">
    </div>
    <table style="position: absolute; left: 261px;" border="1" width ="400" height="100" position="absolute">
    <tr align ="center">
	    <p><td colspan = "2" span style="color:black">실시간 검색어 랭킹 TOP5</td></p>
        </tr>
	        <th class="jb-th-1">순위</th>
	        <th class="jb-th-2">검색어</th>
  </table>
    <div class="image_left">
        <img src = "css/home/ranking_left.PNG">
    </div>
    <table style="position: absolute; right: 261px;" border="1" width ="400" height="100" >
    <tr align ="center">
	    <p><td colspan = "2" span style="color:black">실시간 레시피 랭킹 TOP5</td></p>
        </tr>
	        <th class="jb-th-1">순위</th>
	        <th class="jb-th-2">레시피</th>
  </table>
  </colgroup>
    <div class="image_right">
        <img src="css/home/ranking_right.PNG">
    </div>
</body>

<footer></footer>
</html>