<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/home/root.css">
    <title>MAIN</title>
</head>
<body>
    <div class="font_title">
        <p>Self Chef</p>
    </div>
    <div class="img">
        <img src="css/home/logo.PNG ">
    </div>
    <div class="font_logout">
        <a href="login">sign in</a>
        <a href="select">sign up</a>
        <a href="login">log out</a>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
        <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
        </a>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">My page</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Setting</a>
        </li>
    </ul>
    <dd class="container">
        <div class="home1">
            <div class="s_list_ul_arrow st2">
                <button type="button" class="slick-arrow" style="display:inline-block">
                    <img src="https://recipe1.ezmember.co.kr/img/store/icon_arrow3_pre.png?v.1">
                </button>
            </div>

            <ul class="exhibition_box" style="width:1122px;overflow:hidden;display:inline-block;text-align:left;">
                <img src="css/home/capture.png" style="width: 1122px;margin-top:-20px">
            </ul>

            <div class="s_list_ul_arrow st2">
                <button type="button" class="slick-arrow" style="display:inline-block">
                    <img src="https://recipe1.ezmember.co.kr/img/store/icon_arrow3_next.png?v.1">
                </button>
            </div>
        </div>
    </dd>
    <div class="image_center">
        <p>실시간 게시글 Top 5</p>
        <img src = "css/home/recent_list.png" style="width: 1122px">
    </div>
    <div class="image_left">
        <p>실시간 검색어 랭킹 Top5</p>
        <img src = "css/home/ranking_left.PNG">
    </div>
    <div class="image_right">
        <p>주간 레시피 랭킹 TOP5</p>
        <img src="css/home/ranking_right.PNG">
    </div>
</body>

<footer></footer>
</html>