<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home/soycrab.css" >
    <title>COMMUNITY</title>
</head>
<body>
    <div class="font_title">
        <p>Self Chef</p>

    </div>
    <div class="img">
        <image src="css/home/image/logo.PNG">
    </div>
    <div class="font_logout">
        <a href="login">log out</a>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
            <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
            </a>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>
    
    <a href="#" class="myButton">추천</a>
    <a href="#" class="myButton2">팔로우</a>
    <section class="notice">
        <div class="page-title">
        <div class="container">
            <h3>돼지고기 김치찌개를 잘 끓이는 방법</h3>
        </div>
        </div>
        <div style="text-align: center;">
        <image src="css/home/image/김치찌개_큰 사이즈.JPG">
        </div>
        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        
                        <th scope="col" class="th-like">재료</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>돼지고기(300g)</td>
                    </tr>
                    <tr>
                        <td>설탕(1스푼)</td>
                    </tr>
                    <tr>
                        <td>간장(2+1/2스푼)</td>
                    </tr>
                    <tr>
                        <td>대파(적당량)</td>
                    </tr>
                    <tr>
                        <td>물(8종이컵)</td>
                    </tr>
                    <tr>
                        <td>새우젓(2스푼)</td>
                    </tr>
                    <tr>
                        <td>김치(1포기)</td>
                    </tr>
                    <tr>
                        <td>고춧가루(2+1/2스푼)</td>
                    </tr>
                    <tr>
                        <td>양파(1/2개)</td>
                    </tr>
                    <tr>
                        <td>다진마늘(1스푼)</td>
                    </tr>
                    <tr>
                        <td>청양고추(1개)</td>
                    </tr>
                    <tr>
                        <td>들기름(적당량)</td>
                    </tr>
                    <tr>
                        <td>된장(1/2스푼)</td>
                    </tr>
                    <tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul>
          <li>
            <div style="text-align: center;">
              조리순서
            </div>
          </li>
          <li>
            <br>
            <br>
            <div style="text-align: left;">
            1. 돼지고기는 핏물을 빼줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            2. 김치 한 포기를 꺼내서 잘라줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            3. 냄비에 들기름을 적당히 두르고 김치를 넣고 볶아줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            4. 다진마늘 한 스푼, 설탕 한 스푼을 넣어줍니다. 
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            5. 종이컵으로 물 8컵을 부어서 센불에 끓여줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            6. 핏물 뺀 돼지고기를 넣어줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            7. 고기 잡내 제거를 위해 된장 반 스푼을 넣어줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            8. 양파 반 개, 청양고추 한 개를 썰어서 넣어줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            9. 간장 두 스푼 반, 새우젓 두 스푼, 고춧가루 두 스푼 반을 넣어줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            10. 돼지고기 김치찌개는 오래 끓여야 더 맛있습니다 중불로 줄여서 오래 끓여줍니다!
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            11. 파 쏭쏭 썰어서 마무리합니다.
            </div>
          </li>
        </ul>
        
    </section>
</body>


<footer></footer>
</html>