<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/home/login.css">

    <title>로그인</title>
    
</head>

<body>
    <div class="login-page">
      
        <div class="form">
          <form class="login-form">
            
            <input type="text" placeholder="아이디"/>
            <input type="password" placeholder="비밀번호"/>
            <button><a href="#">login</a></button>
            <p class="message">Not registered? <a href="/select">회원가입 하기</a></p>
          </form>
        </div>
      </div>
</body>
<footer>
    <a href=""><img src="css/home/c.png" ></a>
</footer>
</html>