<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/home/select.css">
  <title>MY PAGE SETTING</title>
    
</head>
<body>
  <div class="fix_comment page">
    <div class="container">
          <header class="heading">Fix your page</header><hr>
        <div class="row ">
              <div class="col-sm-12">
                  <div class="row">
                <div class="col-xs-4">
                          <label class="introduction">New introduction</label> </div>
                  <div class="text-box">
                      <textarea name="main_text" placeholder="Enter your new introduction" rows="3" cols="50"></textarea>
                  </div>
                </div>
                
              <div class="col-sm-12">
              <div class="row">
                      <div class="col-xs-4 ">
                  <label class="public_or_not">Public or not</label>
              </div>
            
                <div class="col-xs-4 public_or_not">	 
                  <input type="radio" name="public_or_not" id="public_or_not" value="public">Public
                  <input type="radio" name="public_or_not" id="public_or_not" value="private">Private
                </div>
                </div>
              </div>
              <div class="col-sm-12">
              <div class="row">
                      <div class="col-xs-4 ">
                        <label class="change">Change your photo</label>
                      </div>
                <div class="col-xs-4 change">	 
                    <input type="file">
                </div>
                </div>
              </div>
              <div class="col-sm-12">
                  <br>
                  <button style="height: 30px; color:green;"><div class="btn btn-warning"><a href="mypage">Submit</a></div></button>
              </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>