<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/home/select.css">
  <title>SIGN UP</title>
    
</head>
<body>
  <div class="select page">
    <div class="container">
          <header class="heading">Registration-Form</header><hr>
        <div class="row ">
              <div class="col-sm-12">
                  <div class="row">
                <div class="col-xs-4">
                          <label class="name">Name</label> </div>
                  <div class="col-xs-8">
                      <input type="text" name="name" id="name" placeholder="Enter your Name" class="form-control ">
                  </div>
                </div>
          </div>
              <div class="col-sm-12">
              <div class="row">
                <div class="col-xs-4">
                          <label class="id">ID</label></div>
              <div class="col-xs-8">	 
                      <input type="id" name="id" id="id" placeholder="ID " class="form-control last">
                      </div>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="row">
                <div class="col-xs-4">
                      <label class="password">Password</label></div>
                <div class="col-xs-8">	 
                      <input type="Password" name="Password" id="Password" placeholder="Password" class="form-control">
                  </div>
              </div>
          </div>
                
              <div class="col-sm-12">
                    <div class="row">
                    <div class="col-xs-4">
                            <label class="pass">height</label></div>
                  <div class="col-xs-8">
                          <input type="number" name="height" id="height" placeholder="height" class="form-control">
                  </div>
                  </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                <div class="col-xs-4">
                        <label class="pass">weight</label></div>
              <div class="col-xs-8">
                      <input type="number" name="weight" id="weight" placeholder="weight" class="form-control">
              </div>
              </div>
          </div>
              <div class="col-sm-12">
              <div class="row">
                      <div class="col-xs-4 ">
                  <label class="gender">Gender</label>
              </div>
            
                <div class="col-xs-4 gender">	 
                  <input type="radio" name="gender" id="gender" value="boy">Male
                  <input type="radio" name="gender" id="gender" value="girl">Female
                </div>
              
              </div>
              <div class="col-sm-12">
                  <button style="height: 30px; color:green;"><div class="btn btn-warning"><a href="login">Submit</a></div></button>
              </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>