<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/home/login.css">

    <title>회원가입</title>
    
</head>
<body>
  <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="아이디"/>
          <input type="text" placeholder="이름"/>
          <input type="password" placeholder="비밀번호"/>
          <input type="password" placeholder="비밀번호 확인"/>
          <button><a href="#">SIGN UP</a></button>
          <p class="message">이미 등록 되었나요? <a href="/login">login</a></p>
        </form>
      </div>
    </div>
</body>
<footer>
  <img src="/app/c.png" style="width: 720px;">
</footer>
</html>