<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/home/login.css">

    <title>개인정보수정</title>
    
</head>
<body>
  <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="number" placeholder="키"/>
          <input type="number" placeholder="몸무게"/>
          <div style="float: left; width: 40%;">
            <input type="checkbox" name="gender" value="male"> 남
            </div>
            <div style="float: right; width: 40%;">
            <input type="checkbox" name="gender" value="female"> 여
            </div>
          <button type = "button" onclick="location.href = '/login'">완료</button>
        </form>
      </div>
    </div>
</body>
<footer>
</footer>
</html>