<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home/soycrab.css" >
    <title>COMMUNITY</title>
</head>
<body>
    <div class="font_title">
        <p>Self Chef</p>

    </div>
    <div class="img">
        <image src="css/home/image/logo.PNG">
    </div>
    <div class="font_logout">
        <a href="login">log out</a>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
            <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
            </a>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>
    
    <a href="#" class="myButton">추천</a>
    <a href="#" class="myButton2">팔로우</a>
    <section class="notice">
        <div class="page-title">
        <div class="container">
            <h3>간장게장 맛있게 하는 법</h3>
        </div>
        </div>
        <div style="text-align: center;">
        <image src="css/home/image/간장게장_큰 사이즈.JPG">
        </div>
        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        
                        <th scope="col" class="th-like">재료</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>살아있는 암케(4마리)</td>
                    </tr>
                    <tr>
                        <td>양조간장(500ml)</td>
                    </tr>
                    <tr>
                        <td>물(750ml)</td>
                    </tr>
                    <tr>
                        <td>청주(1컵)</td>
                    </tr>
                    <tr>
                        <td>메실액기스(2큰술)</td>
                    </tr>
                    <tr>
                        <td>레몬즙(3큰술)</td>
                    </tr>
                    <tr>
                        <td>통호추(약간)</td>
                    </tr>
                    <tr>
                        <td>사과(1/2개)</td>
                    </tr>
                    <tr>
                        <td>양파(1개)</td>
                    </tr>
                    <tr>
                        <td>대파흰부분(1/2대)</td>
                    </tr>
                    <tr>
                        <td>청양고추(4개)</td>
                    </tr>
                    <tr>
                        <td>마늘(10알)</td>
                    </tr>
                    <tr>
                        <td>다시마(1장)</td>
                    </tr>
                    <tr>
                        <td>표고버섯(2개분)</td>
                    </tr>
                    <tr>
                        <td>생강(1조각)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul>
          <li>
            <div style="text-align: center;">
              조리순서
            </div>
          </li>
          <li>
            <br>
            <br>
            <div style="text-align: left;">
            1. 물 750ml에 각종 재료(암케를 제외한)를 한데 넣고 센불에 끓이다가 끓어오르면 30분 정도 약불에 끓여준 뒤 완전히 차갑게 식혀줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            2. 암케를 손질합니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            3. 배가 위로 오도록 담글통에 넣어줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            4. 1번 과정에서 제작한 식혀놓은 간장물을 체에 걸러 담글통에 부어줍니다. 게가 잠기도록 부어줍니다. 
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            5. 냉장고에 넣어두고 3일 뒤 꺼내줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            6. 3일 정도 숙성되어 맛이 든 암케는 호일에 싸서 지퍼백에 넣어 냉동실에 넣어두고 간장물은 1번 끓여 식혀 냉장실에 넣어둡니다. 만약 3일이 지나 꺼내봤을 때 간이 좀 덜 배였거나 좀 더 짜게 드시고 싶으면 간장물만 따라내어 끓여 완전히 식혀 다시 부어 이틀 정도 냉장실에서 더 숙성시킨 뒤 암케 따로 냉동실로 보내줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            7. 드실 때 냉동실에서 1마리 꺼내어 다시 간장물에 넣어 자연스레 해동시켜준 뒤 드시면 완전 싱싱 맛있습니다!
            </div>
          </li>
        </ul>
        
    </section>
</body>


<footer></footer>
</html>